breadcrumbs
  if(nav)
    a.btn.btn-outline-secondary.mb-3(href=`${nav}`, type ='button')=nav



//- get the url from each controller and add just tha last part 
//- in each controller add even the whole url in order to create the link 
