header 
  nav.navbar.navbar-light.bg-light.py-4.mb-4.border-bottom.border-dark
    .container
      a.fw-bold.text-decoration-underline.text-secondary.navbar-brand(href='/') Alibazon 
      .categories.d-flex
        if (url.includes("women"))
          a.btn.btn-outline-secondary(href='/mens', type ='button') Men
          a.active.btn.btn-outline-secondary(href='/womens', type ='button') Women
        else if (url.includes("men"))
          a.active.btn.btn-outline-secondary(href='/mens', type ='button') Men
          a.btn.btn-outline-secondary(href='/womens', type ='button') Women
        else 
          a.btn.btn-outline-secondary(href='/mens', type ='button') Men
          a.btn.btn-outline-secondary(href='/womens', type ='button') Women
       

  