header 
  nav.navbar.navbar-light.bg-light.py-4.mb-4.border-bottom.border-dark
    .container
      a.navbar-brand(href='/') Alibazon 
      .categories.d-flex.justify-content-lg-between 
        a.btn.btn-outline-secondary(href='/categories/mens', role='button') Men
        a.btn.btn-outline-secondary(href='/categories/womens', role='button') Women
      

  