extends layout

block content

  h2=genderCategory.title
  p=genderCategory.description 
    each subcategory in genderCategory.subcategories
      h3=subcategory.name
      p=subcategory.page_description