doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/css/bootstrap.min.css")
  body
    include includes/_header.pug
    if breadcrumbs
      nav(aria-label='breadcrumb')
        ol(class="breadcrumb")
          each crumb, index in breadcrumbs
            if index == breadcrumbs.length - 1
              li(class='breadcrumb-item present' aria-current='page') #{crumb.name}
            else
              li(class='breadcrumb-item') #[a(href=crumb.url) #{crumb.name}]
    .container
      block content
    include includes/_footer.pug
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
