extends layout

block content
  each subcategory in subcategories  
    a(href=`/categories/${subcategory.parent_category_id}/${subcategory.name.toLowerCase()}`)=subcategory.name
    p=subcategory.page_description