@import "./components/header.css";
@import "./pages/home.css";

html,body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

footer {
  margin-top: auto;
}

footer>p{
  float: right;
}

.image{
  background-size:cover; 
  background-repeat: no-repeat; 
  width: 100%;
  height: 200px;
}

.productImage{
  display: flex;
  align-items: center;
  background-size:contain; 
  background-repeat: no-repeat; 
  width:220px;
  height:220px;
}

.productImageDetail{
  background-size:contain; 
  background-repeat: no-repeat; 
  width:400px;
  height:400px;
}

.margins{
  margin-bottom: 25px;
}

.active{
  background-color: blue !important
}




